<h1>Add a task</h1>

<%= form_for @task do |f| %>
 <% if @task.errors.any? %>
    <%= "Your task could not be created" %>
  <% end %>
<div></div>
<%= f.label :task %>
<%= f.text_field :task %>
<%= f.hidden_field :task_list_id, value: @task_list_id %>
  Date: <%= f.text_field :date %>
    <%= f.select(:user_id, @user.map{|user| [user.name, user.id]}) %>
<%= f.submit "Create Task" %>
<% end %>

<%= link_to 'Back', root_path %>



