<h1>Add a task</h1>

<%= form_for @task do |f| %>

<%= f.label :task %>
<%= f.text_field :task %>
<%= f.hidden_field :task_list_id, value: @task_list_id %>

  <% f.label "Due Date" %>
  <%= f.date_select :date%>
<%= f.submit "Create Task" %>
<% end %>

