<h1>My Lists</h1>
<a href="task_lists/new">+ Add Task List</a>
<div></div>
<%= flash[:notice] %>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %></h1>
    <a href="/task_lists/<%= task_list[:id]%>/edit">Edit</a>
    <a href="/task_lists/<%= task_list[:id]%>/tasks/new">+ Add Task</a>
  </section>
  <ul>
  <%@tasks.each do |task|%>
    <%if task["task_list_id"] == task_list["id"] %>
    <li><%= task["task"]%></li>
  <%end%>
    <%end%>
  </ul>
<% end %>



